/* insert global config css Stark*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* style.css Katsu Mouley*/

.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 30px;
  margin: 0 6%;
}

.headerLeft img {
  height: 32px;
}

.headerRight ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.headerRight li {
  margin: 0 15px;
}

.headerRight a,
.hamburgerMenuLinks a {
  font-family: "Inter", serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  text-decoration: none;
  color: #111827;
  transition: 0.3s all;
}

.headerRight a,
.hamburgerMenuLinks a {
  position: relative;
  color: #000;
  text-decoration: none;
}
.headerRight a::after,
.hamburgerMenuLinks a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 2px;
  background-color: #0091ff;
  transition: width 0.4s ease;
}
.headerRight a:hover::after,
.hamburgerMenuLinks a:hover::after {
  width: 100%;
}

.hamburgerMenu {
  display: none;
  cursor: pointer;
}

.hamburgerMenu img {
  height: 20px;
  transition: transform 0.3s ease;
}

/* Menu hambúrguer escondido por padrão */
.hamburgerMenuLinks {
  display: none;
  flex-direction: column;
  width: 100%;
  padding: 10px;
  max-width: fit-content;
}

/* Menu hambúrguer ativo */
.hamburgerMenuLinks.active {
  display: flex;
}

/* Itens no menu hambúrguer */
.hamburgerMenuLinks li {
  margin: 10px 0;
}

/* Menu principal padrão para telas maiores */
.headerRight ul {
  display: flex;
}

/* Responsividade */
@media (max-width: 768px) {
  /* Oculta o menu principal */
  .headerRight ul {
    display: none;
  }

  /* Mostra o ícone de hambúrguer */
  .hamburgerMenu {
    display: block;
  }
}

/* M. Riyaz */

/* Posicionamento das imagens de background */
body {
  background: #f2f7ffb2 url("../assets/Main/icone-github.png") no-repeat right center;
  background-size: 50px;
}

.main {
  position: relative;
  background: url("../assets/Main/BG.svg") no-repeat center bottom;
  background-size: cover;
  backdrop-filter: blur(6px);
  max-width: 100%;
  height: 90vh;
}

div > img.left-band-1 {
  position: absolute;
  left: 10%;
  top: 90%;
  transform: translate(-50%, -45%);
  opacity: 80%;
}

div > img.left-band-2 {
  position: absolute;
  left: 10%;
  top: 100%;
  transform: translate(-80%, -46%);
  opacity: 80%;
}

div > img.right-band-1 {
  position: absolute;
  right: 2%;
  top: 50%;
  transform: translate(0%, -5%);
  opacity: 50%;
}

div > img.right-band-2 {
  position: absolute;
  right: 0%;
  top: 70%;
  transform: translate(-0%, -25%);
  opacity: 80%;
}

/* Configuracão do layout main container */

.main-container {
  font-family: "Inter";
  /* Posicionamento dos itens */
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 8%;
  z-index: 1;
  position: absolute;
  gap: 20px;
  margin: 0 auto;
  width: 100%;
}

.left-side-main {
  flex: 1 400px;
  display: flex;
  flex-direction: column;
  max-width: 648px;
  font-size: 18px;
}

.left-side-main > h1 {
  font-size: 60px;
}

.left-side-main > button {
  background-color: #4194d1;
  width: 217px;
  height: 56px;
  color: white;
  border-radius: 8px;
  border: none;
  transition: .5s;
}

.left-side-main > button:hover {
  cursor: pointer;
  background-color: #0cb2ff;
  transition: .5s;
}

.right-side-main > img {
  display: block;
  width: 400px;
}

/* Responsividade */

@media (max-width: 1000px) {
  /* Oculta o menu principal */
  .right-side-main {
    margin: 5% auto;
  }

  .left-side-main{
    width: 100%;
    margin: 0 auto;
  }

  .left-side-main > button{
    margin: 0 auto;
  }
  div > img.left-band-1 {
    opacity: 40%;
  }

  div > img.left-band-2 {
    opacity: 40%;
  }

  div > img.right-band-1 {
    opacity: 40%;
  }

  div > img.right-band-2 {
    opacity: 40%;
  }

}
